<template>
  <div @click="show">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "ShowModalButton",
  data() {
    return {
      modal: null,
    }
  },
  methods: {
    show() {
      if (!this.modal) {
        this.modal = new Bootstrap.Modal(`#${this.$props.modalSelector}`);
      }

      this.modal._showElement();
    }
  },
  props: {
    modalSelector: {
      type: String,
      required: true,
    }
  },
}
</script>

<style scoped>

</style>