<template>
    <div>
        <QrScannerModal
            @decode="aggregate"
            :selector="scannerSelectorModal"
            title="Постановка задачи на специалиста"
            scanner-selector="QR-SCANNER-MODAL"
        >
            <template v-slot:show-modal-element>
                <button class="btn btn-purple-light rounded-pill">
                    <i class="bi bi-qr-code-scan"></i>
                </button>
            </template>
        </QrScannerModal>
    </div>
</template>

<script>
import Vue from "vue";

import {taskAssemblyFlavor} from "../../services/task";
import QrDealCorrectly from "../../helpers/qr-data-regexp/deal-qr-data";

import QrScannerModal from "../modals/QrScannerModal.vue";

const SCANNER_SELECTOR_MODAL = 'SCANNER_SELECTOR';

export default {
    name: "CreateTaskComponent",
    data() {
        return {
            scannerSelectorModal: SCANNER_SELECTOR_MODAL,
            scannerModal: null,
            dealModal: null,
            deal: null,
        };
    },
    methods: {
        async aggregate(data) {
            try {
                if (!QrDealCorrectly(data)) {
                    Vue.$toast.open({
                        position: "bottom-right",
                        message: "Номер сделки в QR указан некорректно.",
                        type: "error"
                    });

                    this.scannerModal._hideModal();

                    return;
                }

                const id = Number(data);

                const assembly = await taskAssemblyFlavor(id);
                const {task_id} = assembly;

                window.location.href = `/grower/tasks/${task_id}/edit`;
            } catch (e) {
                this.scannerModal._hideModal();
            }
        },
    },
    components: {
        QrScannerModal,
    },
    async mounted() {
        this.scannerModal = new Bootstrap.Modal(`#${this.scannerSelectorModal}`);
    }
}
</script>
