<template>
    <div>
        <div class="input-group flex-no-wrap mb-3">
            <input type="tel" class="form-control rounded-0" placeholder="Введите номер без +7, 8"
                   name="phone" v-model="phone">

            <QrScannerModal
                @decode="searchDecode"
                scanner-selector="QR_SCANNER_MODAL"
                :selector="scannerSelector"
            >
                <template v-slot:show-modal-element>
                     <span class="input-group-text" id="addon-wrapping" style="cursor: pointer">
                        <i class="bi bi-qr-code-scan"></i>
                     </span>
                </template>
            </QrScannerModal>

        </div>

        <div class="mb-3">
            <ContactSearchForm
                @toggleScanner="showScannerModal"
                @toggleSearch="searchContact"
                :contact="contact === null ? {} : contact"
            ></ContactSearchForm>
        </div>

        <div class="mb-3">
            <CreateLeadForm v-if="contact" :contact="contact" :action="action">
                <slot></slot>
            </CreateLeadForm>
        </div>

        <div class="form-group d-flex justify-content-center">
            <button @click.prevent="searchContact" class="btn btn-purple-light w-100 rounded-0 fixed-bottom py-3">Найти</button>
        </div>
    </div>
</template>

<script>
import Vue from "vue";

import ContactSearchForm from "../form/ContactSearchForm.vue";
import CreateLeadForm from "../form/CreateLeadForm.vue";
import QrScannerModal from "../modals/QrScannerModal.vue";

import {loadContact} from "../../services/contact";
import QrContactCorrectly from "../../helpers/qr-data-regexp/contact-qr-data";

export default {
    name: "CreateLeadComponent",
    data() {
        return {
            phone: '',
            contact: null,
            scannerModal: null,
            scannerSelector: 'SCANNER',
        }
    },
    methods: {
        async searchContact() {
            try {
                const params = {phone: this.phone};
                const contact = await loadContact(params);
                this.contact = contact.data;
            } catch (e) {
                console.error(e);
            }
        },
        async searchDecode(florcatURI) {
            try {
                if (!QrContactCorrectly(florcatURI)) {
                    Vue.$toast.open({
                        position: 'bottom-right',
                        message: 'Не корректный QR.',
                        type: 'error'
                    });

                    this.scannerModal._hideModal();

                    return;
                }

                await this.searchContact({florcat: florcatURI});
            } catch (e) {
                console.error(e);
            }

            this.scannerModal._hideModal();
        },
        showScannerModal() {
            this.scannerModal._showElement();
        },
    },
    components: {
        ContactSearchForm,
        CreateLeadForm,
        QrScannerModal,
    },
    props: {
        action: {
            type: String,
            required: true
        }
    },
    mounted() {
        this.scannerModal = new Bootstrap.Modal(`#${this.scannerSelector}`);
    }
}
</script>
