<template>
    <div>
        <LogisticianDealModal
            :modal-selector="logisticianDealModalSelector"
            :deal="deal"
        />

        <QrScannerModal
            @decode="toSearchDeal"
            scanner-selector="QR_SCANNER_MODAL"
            :selector="scannerSelector"
        >
            <template v-slot:show-modal-element>
                <button class="btn btn-danger rounded-0">
                    Сканировать QR
                </button>
            </template>
        </QrScannerModal>
    </div>
</template>

<script>
import Vue from "vue";

import QrScannerModal from "../modals/QrScannerModal.vue";
import LogisticianDealModal from "../modals/LogisticianDealModal.vue";

import {loadDeal} from "../../services/deal";

const MODAL_SELECTOR = 'QR-DEAL-SCANNER';
const LOGISTICIAN_DEAL_MODAL_SELECTOR = 'LOGISTICIAN_DEAL_MODAL_SELECTOR';

export default {
    name: "LogisticianViewComponent",
    data() {
        return {
            deal: {},
            decodeData: null,
            scannerModal: null,
            dealModal: null,
            scannerSelector: MODAL_SELECTOR,
            logisticianDealModalSelector: LOGISTICIAN_DEAL_MODAL_SELECTOR,
        }
    },
    methods: {
        async toSearchDeal(decodeData) {
            try {
                if (!(/^\d+$/.test(decodeData))) {
                    Vue.$toast.open({
                        position: "top-right",
                        message: "Номер сделки в QR указан некорректно.",
                        type: "error"
                    });

                    this.scannerModal._hideModal();

                    return;
                }

                const id = Number(decodeData);
                await this.fetchDeal(id);

                this.hideQrModal();
                this.showDeal();
            } catch (e) {
                this.hideQrModal();
            }
        },
        async fetchDeal(id) {
            this.deal = await loadDeal(id);
        },
        showDeal() {
            this.dealModal._showElement();
        },
        hideQrModal() {
            this.scannerModal._hideModal();
        }
    },
    components: {
        QrScannerModal,
        LogisticianDealModal,
    },
    watch: {
        async decodeData() {
            try {
                await this.fetchDeal(this.decodeData);
                this.hideQrModal();
                this.showDeal();
            } catch (e) {
                console.log(e);
                this.hideQrModal();
            }
        }
    },
    async mounted() {
        this.scannerModal = new Bootstrap.Modal(`#${this.scannerSelector}`);
        this.dealModal = new Bootstrap.Modal(`#${this.logisticianDealModalSelector}`);
    }
}
</script>
