<template>
    <div class="form">
        <form method="get">
            <div class="form-group mb-3">
                <input
                    :value="getFullName"
                    type="text"
                    class="form-control rounded-0"
                    placeholder="Имя клиента"
                    disabled
                >
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name: "ContactSearchForm",
    data() {
        return {
            phone: null,
        }
    },
    methods: {
        search() {
            this.$emit('toggleSearch', {
                phone: this.phone,
            });
        },
        scanner() {
            this.$emit('toggleScanner', true);
        }
    },
    computed: {
        getFullName() {
            if (this.$props.contact.id) {
                return (this.$props.contact.last_name ?? ' ') + ' ' +
                    (this.$props.contact.name ?? ' ') + ' ' +
                    (this.$props.contact.second_name ?? ' ')
            }
        }
    },
    props: {
        contact: {
            type: Object,
            required: true,
        }
    },
    watch: {
        contact(contact) {
            const {phone} = contact;
            this.phone = phone;
        }
    }
}
</script>
