<template>
    <form :action="action" method="post" ref="form">
        <slot/>

        <span class="text-danger link-underline-dark" @click="setBonus" v-if="getBalance">
          <u v-if="Number(opportunity)">максимальное количество бонусов для списания: {{ maxExpenseBonus }}</u>
          <u v-else>максимальное количество бонусов для списания будет указано после ввода суммы покупки</u>
        </span>

        <input type="number" class="d-none" name="contact_id" :value="contact.id">

        <div class="form-group mb-3">
            <input id="qr" type="text" class="form-control rounded-0" disabled
                   :placeholder="'Количество бонусов: ' + getBalance">
        </div>
        <div class="form-group mb-3">
            <input type="text" class="form-control rounded-0" placeholder="Введите сумму покупки"
                   name="opportunity" v-model="opportunity" required>
        </div>
        <div class="form-group mb-3">
            <input
                type="number"
                min="0"
                class="form-control rounded-0"
                :class="{'d-none': !getBalance}"
                placeholder="Введите количество списываемых бонусов"
                name="bonus" v-model="bonus">

            <span class="text-danger" v-if="isMoreValueBonus">Введенное количество бонусов больше доступной суммы</span>
            <span class="text-danger"
                  v-if="isMoreBonusOpportunity">Введенное количество бонусов недоступно для списания</span>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button
                class="btn btn-purple-light w-100 mx-4 rounded-0 mx-4"
                type="button"
                @click.prevent="createLead"
            >
                Создать лид
            </button>
        </div>
    </form>
</template>

<script>
export default {
    name: "CreateLeadForm",
    data() {
        return {
            maxExpenseBonus: 0,
            opportunity: "",
            bonus: "",
        };
    },
    methods: {
        createLead() {
            if (this.isMoreValueBonus || this.isMoreBonusOpportunity || this.isNotOpportunity) {
                return;
            }

            this.$refs.form.submit();
        },
        calculateMaxExpenseBonus() {
            let half = this.opportunity / 2;

            let res = 0;

            if (half <= this.getBalance) {
                res = half;
            } else {
                res = this.getBalance ?? 0;
            }

            this.maxExpenseBonus = Math.floor(res);
        },
        setBonus() {
            this.bonus = this.maxExpenseBonus;
        }
    },
    computed: {
        isMoreBonusOpportunity() {
            return this.bonus > this.maxExpenseBonus;
        },
        isMoreValueBonus() {
            return this.bonus > this.getBalance;
        },
        isNotOpportunity() {
            return !Number(this.opportunity);
        },
        getBalance() {
            return this.$props.contact?.florcat?.bonus_balance ?? 0;
        }
    },
    props: {
        action: {
            type: String,
            required: true,
        },
        contact: {
            type: Object,
            required: true,
        }
    },
    watch: {
        opportunity: {
            handler() {
                this.calculateMaxExpenseBonus();
            }
        }
    }
}
</script>
