<template>
    <form action="/ajax/timeman/status" method="get">
        <div class="timer d-flex justify-content-center flex-column align-content-center mb-5">
          <span class="text-center">{{ statuses[status?.STATUS] || 'Не определен' }}</span>
            <grower-timer
                v-if="calculateDurationTime"
                :duration="calculateDurationTime"
                :status="status.STATUS || ''"
            ></grower-timer>
            <span v-else class="text-center">Загрузка времени..</span>
        </div>
        <div class="buttons">
            <div class="d-flex flex-column">
                <button
                    v-if="!isOpen"
                    @click="fetchOpen"
                    :class="{'d-none': isExpired}"
                    class="btn btn-success w-100 mb-3 text-black fw-bold text-uppercase rounded-0"
                    type="button"

                >
                    Начать рабочий день
                </button>

              <button
                  v-if="isOpen || isPause"
                  @click="fetchClose"
                  class="btn btn-purple-light w-100 text-black fw-bold text-uppercase mb-3 rounded-0"
                  type="button"
              >
                Завершить
              </button>

              <button
                  v-if="isOpen"
                  @click="fetchPause"
                  class="btn btn-secondary w-100 text-black fw-bold text-uppercase rounded-0"
                  type="button"
              >
                Пауза
              </button>
            </div>
        </div>
    </form>
</template>

<script>
import {open, close, pause, status} from '../../services/timeman';
import * as statuses from "../../types/timeman-types";
import Vue from "vue";

export default {
    name: "GrowerTimerForm",
    data() {
        return {
            status: {},
            statuses: {
              [statuses.CLOSED]: 'Рабочий день закрыт',
              [statuses.EXPIRED]: 'Рабочий день истек, начать рабочий день можно из Б24',
              [statuses.OPENED]: 'Рабочий день открыт',
              [statuses.PAUSE]: 'Рабочий день установлен на паузу'
            }
        }
    },
    computed: {
        isOpen() {
            return this.status.STATUS === 'OPENED';
        },
        isPause() {
            return this.status.STATUS === 'PAUSED';
        },
        isClose() {
            return this.status.STATUS === 'CLOSED';
        },
        isExpired() {
            return this.status.STATUS === 'EXPIRED';
        },
        calculateDurationTime() {
            if (!this.status?.STATUS) {
              return false;
            }

            let {TIME_LEAKS, TIME_START, SERVER_TIME} = this.status;
            if (this.status.STATUS === 'CLOSED') {
              return new Date(SERVER_TIME);
            }

            let [h, m, s] = TIME_LEAKS.split(':');

            let start = new Date(TIME_START);
            let server = new Date(SERVER_TIME);

            server.setHours(server.getHours() - start.getHours());
            server.setMinutes(server.getMinutes() - start.getMinutes());
            server.setSeconds(server.getSeconds() - start.getSeconds());

            server.setHours(server.getHours() - Number(h));
            server.setMinutes(server.getMinutes() - Number(m));
            server.setSeconds(server.getSeconds() - Number(s));

            return server;
        }
    },
    methods: {
        async fetchOpen() {
            const { status: responseStatus } = await open();

            Vue.$toast.open({
              position: 'top-right',
              message: 'Рабочий день открыт',
              type: 'success'
            });

            this.status = responseStatus;
        },
        async fetchPause() {
            const { status: responseStatus } = await pause();

            Vue.$toast.open({
              position: 'top-right',
              message: 'Рабочий день поставлен на паузу',
              type: 'warning'
            });

            this.status = responseStatus;
        },
        async fetchClose() {
            const { status: responseStatus } = await close();

            Vue.$toast.open({
              position: 'top-right',
              message: 'Рабочий день закрыт',
              type: 'success'
            });

            this.status = responseStatus;
        },
        async fetchStatus() {
            const { status: responseStatus } = await status();
            this.status = responseStatus;
        },
    },
    async mounted() {
        try {
            await this.fetchStatus();
        } catch (e) {
            console.error(e);
        }
    }
}
</script>
