<template>
    <form method="post" :action="action" ref="task-form">
        <slot/>

        <task-card :deal="getDeal"/>

        <div class="d-flex justify-content-center">
            <button
                class="btn btn-purple-light rounded-0 text-uppercase"
                :class="{ disabled: disabledButtonStatuses }"
                type="submit"
                @click.prevent="updateTask"
            >
                <span v-if="Number(getDeal.TASK.status) === statuses.WAIT_COMPLETE">
                    Начать сборку
                </span>
                <span v-if="Number(getDeal.TASK.status) === statuses.PROCESSED">
                    Завершить сборку
                </span>
                <span v-if="Number(getDeal.TASK.status) === statuses.COMPLETED" class="disabled">
                    Задача уже была завершена
                </span>

              <span v-if="Number(getDeal.TASK.status) === statuses.WAIT_CONTROL">
                    Задача ожидает контроля
                </span>
            </button>
        </div>
    </form>
</template>

<script>
import * as TaskStatuses from '../../types/task-status-types';
import {loadTask} from "../../services/task";

export default {
    name: 'TaskForm',
    data() {
        return {
            timer: null,
            dealFetchData: {},
        };
    },
    props: {
        deal: {
            type: Object,
            required: true
        },
    },
    methods: {
        updateTask(e) {
            if (Number(this.deal.TASK.status) === TaskStatuses.COMPLETED) {
                e.preventDefault();
                return;
            }

            this.$refs["task-form"].submit();
        },
        async updateTaskData() {
            this.dealFetchData = await loadTask(this.dealFetchData.TASK.id);
        },
    },
    computed: {
        statuses() {
            return TaskStatuses;
        },
        action() {
            let action = '';

            switch (Number(this.$props.deal.TASK.status)) {
                case TaskStatuses.WAIT_COMPLETE:
                    action = `/grower/tasks/${this.$props.deal.TASK.id}/start`;
                    break;
                case TaskStatuses.PROCESSED:
                    action = `/grower/tasks/${this.$props.deal.TASK.id}/complete`;
                    break;
            }
            return action;
        },
        disabledButtonStatuses() {
          let bool = false;
          switch(Number(this.$props.deal.TASK.status)) {
            case TaskStatuses.WAIT_CONTROL:
              bool = true;
              break;
            case TaskStatuses.COMPLETED:
              bool = true;
              break;
          }
          return bool;
        },
        getDeal() {
            return this.dealFetchData;
        }
    },
    watch: {
        deal: {
            immediate: true,
            handler(value) {
                this.dealFetchData = value;
            }
        },
    },
    async mounted() {
        const vm = this;
        this.timer = setInterval(this.updateTaskData.bind(vm), 1000 * 30);
    }
}
</script>
