<template>
  <div class="timer d-flex justify-content-center align-content-center mb-5">
        <span class="fs-1 text-center" v-if="durationTime">
            {{ timeFormat }}
        </span>
        <span class="fs-1 text-center" v-else>
            00:00:00
        </span>
  </div>
</template>

<script>
import * as statuses from "../../types/timeman-types";

export default {
  name: "GrowerTime",
  data() {
    return {
      durationTime: null,
      timer: null,
    };
  },
  methods: {
    clearTimer() {
      clearInterval(this.timer);
    },
    tick() {
      let newDate = new Date(this.durationTime);
      newDate.setSeconds(newDate.getSeconds() + 1);
      this.durationTime = new Date(newDate);
    },
    setTimer() {
      this.clearTimer()
      this.timer = setInterval(this.tick, 1000);
    },
    handlerStatus() {
      switch(this.$props.status) {
        case statuses.OPENED:
          this.setTimer();
          break;
        case statuses.CLOSED:
          this.clearTimer();
          break;
        case statuses.PAUSE:
          this.clearTimer();
          break;
        case statuses.EXPIRED:
          this.clearTimer();
          break;
      }
    }
  },
  computed: {
    timeFormat() {
      if (this.durationTime) {
        let hours = this.durationTime.getHours();
        let minutes = this.durationTime.getMinutes();
        let seconds = this.durationTime.getSeconds();
        return (hours < 10 ? '0' + hours : hours) + ':' +
            (minutes < 10 ? '0' + minutes : minutes) + ':' +
            (seconds < 10 ? '0' + seconds : seconds);
      }
    }
  },
  props: {
    duration: {
      type: Date,
      required: true,
    },
    status: {
      type: String,
      required: true
    },
  },
  watch: {
    status: {
      immediate: true,
      handler() {
        this.handlerStatus();
      }
    },
    duration: {
      immediate: true,
      handler() {
        this.durationTime = this.$props.duration;
      }
    }
  },
  mounted() {
    this.durationTime = this.$props.duration;
    this.handlerStatus();
  }
}
</script>
