<template>
    <div>
        <div class="d-flex flex-column border border-danger mb-5 px-3 py-3">
            <span class="fs-3 fw-bold mb-3" style="word-break: break-all">
                {{ deal.TASK.title }}
            </span>

            <span class="mb-3">
                Ответственный за сделку: {{ deal.CREATOR.NAME + ' ' + deal.CREATOR.LAST_NAME }}
            </span>

            <span class="mb-3">
                Ответственный за задачу: {{ deal.TASK.responsible.name }}
            </span>

            <span class="mb-3">
              Адрес доставки:
              {{ deal[deal.CUSTOM_FIELDS.DELIVERY_ADDRESS] || 'Адрес не указан' }}
            </span>

            <div class="d-flex flex-column mb-3">
                <span>Начало доставки: {{
                        correctFormatTime(deal[deal.CUSTOM_FIELDS.DELIVERY_START_DATE]) || 'Не указано'
                    }}</span>
                <span>Окончание доставки: {{
                        correctFormatTime(deal[deal.CUSTOM_FIELDS.DELIVERY_END_DATE]) || 'Не указано'
                    }}</span>
            </div>

            <template>
                <span class="mb-3" v-if="!Array.isArray(deal.CONTACT) && deal.CONTACT?.ID">
                    Контакт: {{ deal.CONTACT.NAME + ' ' + deal.CONTACT.PHONE[0].VALUE }}
                </span>
                <span v-else>Контакт: не указан.</span>
            </template>


            <span v-if="deal[deal['CUSTOM_FIELDS']['COMMENT_FOR_GROWER']]" class="mb-3">
                {{ deal[deal['CUSTOM_FIELDS']['COMMENT_FOR_GROWER']] }}
            </span>

            <span class="mb-3">
                Цена букета: {{ deal.OPPORTUNITY }}
            </span>

            <span class="mb-3">
                Комментарий из Б24: {{ deal.COMMENTS }}
            </span>
        </div>

        <div class="d-flex flex-column border border-danger mb-5 px-3 py-3">
          <span class="mb-3 ">
            Товары:
          </span>

            <ProductTable :products="deal?.PRODUCTS || []"/>
        </div>


        <div class="d-flex flex-column border border-danger mb-5 px-3 py-3">
            <span class="mb-3 d-flex">
                {{ deal[deal.CUSTOM_FIELDS.GOODS_DESCRIPTION] }}
            </span>

            <div class="row">
                <div class="col-12">
                    <span class="d-flex" v-for="product in deal['PRODUCTS']" :key="product.ID">
                        Фото товара:
                        <a
                            v-if="product['IMAGES'].length"
                            :href="`/grower/tasks/${deal.TASK.id}/photos/view?photo_url=` + (deal['BASE_URL'] + product['IMAGES'][0].detailUrl)"
                        >
                            <img height="50" :src="deal['BASE_URL'] + product['IMAGES'][0].detailUrl" alt="">
                        </a>
                        <span v-else>&nbsp;Фотография отсутствует</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductTable from "../tables/ProductTable";

export default {
    name: 'TaskCard',
    methods: {
        correctFormatTime(date) {
            let _d = new Date(date);
            if (_d) {
                return '';
            }
            return `${_d.getFullYear()}.${_d.getMonth()}.${_d.getDate()} ${_d.getHours()}:${_d.getMinutes()}`;
        }
    },
    components: {
        ProductTable,
    },
    props: {
        deal: {
            type: Object,
            required: true,
        }
    },
    mounted() {
        console.log(this.$props.deal);
    }
};
</script>
