.btn-purple-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff407c;
    --bs-btn-border-color: #ff407c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff407c;
    --bs-btn-hover-border-color: #ff407c;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff407c;
    --bs-btn-active-border-color: #ff407c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff407c;
    --bs-btn-disabled-border-color: #ff407c;
}

.text-purple-light {
    color: #ff407c;
}
