<template>
    <div>
        <QrScannerModal
            @decode="searchDecode"
            scanner-selector="QR_SCANNER_DEAL"
            :selector="qrScannerModalSelector"
        />
    </div>
</template>

<script>
import QrScannerModal from "../../modals/QrScannerModal.vue";
import {loadDeal} from "../../../services/deal";

const QR_SCANNER_MODAL_SELECTOR = "QR_SCANNER_MODAL_SELECTOR";

export default {
    name: "CreateLeadComponent",
    data() {
        return {
            qrScannerModal: null,
            qrScannerModalSelector: QR_SCANNER_MODAL_SELECTOR,
        }
    },
    methods: {
        async showQrModal() {
            this.showDealModal._hideModal();
        },
        async searchDecode(decode) {
            let deal = await loadDeal(Number(decode));
        },
    },
    components: {
        QrScannerModal,
    },
    async mounted() {
        this.qrScannerModal = new Bootstrap.Modal(`#${this.qrScannerModalSelector}`);
        // await this.searchDecode(18);
    }
}
</script>
