<template>
    <div>
        <QrScannerModal
            @decode="decode"
            @modalClose="showedDealModal"
            scanner-selector="QR_SCANNER_DEAL"
            :selector="scannerSelector"
        />

        <ShowDealModal
            @toggleCompletePacking="showQrModal"
            :modal-selector="showDealSelector"
            :show="true"
            :deal="deal"
        />
    </div>
</template>

<script>
import QrScannerModal from "../../modals/QrScannerModal.vue";
import ShowDealModal from "../../modals/ShowDealModal.vue";
import {updateDocketDeal, updateStorage} from "../../../services/deal";

const SCANNER_MODAL_SELECTOR = 'SCANNER_SELECTOR';
const SCANNER_MODAL_STORAGE_SELECTOR = 'SCANNER_MODAL_STORAGE_SELECTOR';
const SHOW_DEAL_MODAL_SELECTOR = 'SHOW_DEAL';

import Vue from 'vue';

export default {
    name: "CreateLeadComponent",
    data() {
        return {
            scannerModal: null,
            showDealModal: null,
            scannerSelector: SCANNER_MODAL_SELECTOR,
            showDealSelector: SHOW_DEAL_MODAL_SELECTOR,
        }
    },
    methods: {
        async decode(data) {
            await updateStorage(this.deal.ID, {trol: 1, shefl: 1});

            Vue.$toast.open({
                position: 'bottom-right',
                message: 'Данные были места хранения были сохранены',
                type: 'success'
            });

            window.location.href = '/packer';
        },
        showedDealModal() {
            this.scannerModal._hideModal();
            this.showDealModal._showElement();
        },
        showQrModal() {
            this.showDealModal._hideModal();
            this.scannerModal._showElement();
        },
        async fetchUpdateDocket(decode) {
            await updateDocketDeal(this.deal.ID, {docket: 'Этикетка'});
        },
    },
    components: {
        QrScannerModal,
        ShowDealModal,
    },
    props: {
        deal: {
            type: Object,
            required: this
        }
    },
    async mounted() {
        this.scannerModal = new Bootstrap.Modal(`#${this.scannerSelector}`);
        this.showDealModal = new Bootstrap.Modal(`#${this.showDealSelector}`);
    }
}
</script>
