<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center flex-column">
                    <span class="text-center mb-2">
                        Для поиска сделки отсканируйте QR
                    </span>

                    <div class="d-flex justify-content-center">
                        <QrScannerModal
                            @decode="search"
                            scanner-selector="scannerSelector"
                            :selector="selector"
                        >
                            <template v-slot:show-modal-element>
                                <button class="btn btn-danger rounded-0">
                                    Сканировать QR
                                </button>
                            </template>
                        </QrScannerModal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import QrScannerModal from "../../modals/QrScannerModal.vue";
import DealQrData from "../../../helpers/qr-data-regexp/deal-qr-data";

const MODAL_SCANNER_SELECTOR = 'QR_SCANNER_MODAL_SELECTOR';

export default {
    components: {QrScannerModal},
    data() {
      return {
          scanner: null,
      }
    },
    methods: {
        search(qrScannerData) {
            const validate = DealQrData(qrScannerData);
            if (!validate) {
                Vue.$toast.open({
                    position: 'top-right',
                    message: 'QR - код должен содержать номер сделки',
                    type: 'error'
                });

                this.scanner._hideModal();

                return;
            }

            const id = Number(qrScannerData);

            this.redirect(id);
        },
        redirect(id) {
            window.location.replace(`/packer/deals/${id}/storage`);
        }
    },
    computed: {
        selector() {
            return MODAL_SCANNER_SELECTOR;
        }
    },
    mounted() {
        this.scanner = new Bootstrap.Modal(`#${this.selector}`);
    }
}
</script>

<style scoped>

</style>
