<template>
    <div class="container">
        <PackerDealTable :deal="currentDeal ?? {}"></PackerDealTable>

        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center flex-column">
                    <span class="text-center mb-2">
                        Для установки места хранения (троли и полки) отсканируйте QR
                    </span>

                    <div class="d-flex justify-content-center">
                        <QrScannerModal
                            @decode="search"
                            scanner-selector="scannerSelector"
                            :selector="selector"
                        >
                            <template v-slot:show-modal-element>
                                <button class="btn btn-danger rounded-0">
                                    Сканировать QR
                                </button>
                            </template>
                        </QrScannerModal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import QrScannerModal from "../../modals/QrScannerModal.vue";
import PackerDealTable from "../../tables/PackerDealTable.vue";
import {updateStorage} from "../../../services/deal";
import DealStorage from "../../../helpers/qr-data-regexp/deal-storage";

const MODAL_SCANNER_SELECTOR = 'QR_SCANNER_MODAL_SELECTOR';

export default {
    components: {QrScannerModal, PackerDealTable},
    props: {
        deal: {
            type: Object,
            required: true,
        }
    },
    data() {
        return {
            scanner: null,
            currentDeal: null,
        }
    },
    methods: {
        async search(qrScannerData) {
            const validate = DealStorage(qrScannerData);
            if (!validate) {
                Vue.$toast.open({
                    message: 'QR - код должен содержать номер троли и полки через запятую',
                    position: 'top-right',
                    type: 'error'
                });

                this.scanner._hideModal();

                return;
            }

            this.currentDeal = await updateStorage(this.currentDeal.ID, {
                storage: qrScannerData
            });

            let message = this.currentDeal.IS_REWRITE_STORAGE ?
                'Данные места хранения были изменены' :
                'Данные места хранения были установлены';

            Vue.$toast.open({
                message: message,
                position: 'top-right',
                type: 'success'
            });

            this.scanner._hideModal();
        }
    },
    computed: {
        selector() {
            return MODAL_SCANNER_SELECTOR;
        }
    },
    mounted() {
        this.currentDeal = this.$props.deal;

        this.scanner = new Bootstrap.Modal(`#${this.selector}`);
    }
}
</script>

<style scoped>

</style>
