<script>
export default {
    name: "PackerDealTable",
    props: {
        deal: {
            type: Object,
            required: true,
        }
    }
}
</script>

<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Свойство</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">№</th>
            <td>{{ deal.ID }}</td>
        </tr>
        <tr>
            <th scope="row">Название</th>
            <td>{{ deal.TITLE }}</td>
        </tr>
        <tr>
            <th scope="row">Троль</th>
            <td>
                {{
                    deal[deal.USER_FIELDS.TROL_AND_SHEFL] ?
                        deal[deal.USER_FIELDS.TROL_AND_SHEFL].split(',')[0] :
                        'Не указано'
                }}
            </td>
        </tr>
        <tr>
            <th scope="row">Полка</th>
            <td>
                {{
                    deal[deal.USER_FIELDS.TROL_AND_SHEFL] ?
                        deal[deal.USER_FIELDS.TROL_AND_SHEFL].split(',')[1] :
                        'Не указано'
                }}
            </td>
        </tr>
        </tbody>
    </table>
</template>

<style scoped>

</style>
