<template>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="product in products" :key="product.ID">
        <th scope="row">{{ product.ID }}</th>
        <td>{{ product.PRODUCT_NAME }}</td>
        <td>{{ product.QUANTITY }}</td>
        <td>{{ product.PRICE }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ProductTable",
  props: {
    products: {
      type: Array,
      required: true,
    }
  }
}
</script>

<style scoped>

</style>