<template>
    <div class="modal fade" :id="modalSelector" tabindex="-1" aria-labelledby="show-deal-modal" aria-hidden="true">
        <div class="modal-dialog h-100">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Дубль, букет собирал флорист</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="show-deal-modal"
                            aria-label="Close" @click="modal._hideModal()"></button>
                </div>
                <div class="modal-body">
                    <p>Флорист: <span>{{ getTasks.length ? getTasks[0].responsible.name : null }}</span></p>
                    <p>
                        Дата начала исполнения задачи:
                        <span>{{ getStartTaskDate ? getStartTaskDate : 'Задача не начата.' }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "DoubleDealModal",
    data() {
        return {
            modal: null,
        };
    },
    computed: {
        getTasks() {
            return this.$props.deal?.TASKS?.tasks || [];
        },
        getStartTaskDate() {
            let task = this.getTasks.length ? this.getTasks[0] : null;
            if (!task) {
                return null;
            }

            if (!task.dateStart) {
                return null;
            }

            let date = new Date(task.dateStart);

            return `${date.getFullYear()}.` +
                `${(date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth())}.` +
                `${(date.getDate() < 10 ? '0' + date.getDate() : date.getDate())}` +
                `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
        }
    },
    props: {
        deal: {
            type: Object,
            required: true,
        },
        modalSelector: {
            type: String,
            required: true,
        }
    },
    mounted() {
        this.modal = new Bootstrap.Modal(`#${this.$props.modalSelector}`);
    }
}
</script>
