<template>
    <div class="modal fade" :id="modalSelector" tabindex="-1" aria-labelledby="show-deal-modal" aria-hidden="true">
        <div class="modal-dialog h-100">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        {{ deal.ID }} | {{ deal.TITLE }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="show-deal-modal"
                            aria-label="Close" @click="modal._hideModal()"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Ответственный:
                        <span v-if="deal.ASSIGNED">
                            {{ deal.ASSIGNED[0].NAME }} {{ deal.ASSIGNED[0].LAST_NAME }}
                        </span>
                    </p>

                    <p>Товары</p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in deal.PRODUCTS" :key="product.ID">
                                <th scope="row">{{ product.ID }}</th>
                                <td>{{ product.PRODUCT_NAME }}</td>
                                <td>{{ product.QUANTITY }}</td>
                                <td>{{ product.PRICE }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <p>
                            Курьер:
                            <span v-if="deal.UF_CRM_1667981774966">
                                {{ deal.UF_CRM_1667981774966 }}
                            </span>
                            <span v-else>Не указан</span>
                        </p>
                    </div>

                    <p>Общая цена сделки: <span>{{ deal.OPPORTUNITY }}</span></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "LogisticianDealModal",
    data() {
        return {
            modal: null,
        };
    },
    computed: {
        getDealProducts() {
            let products = [];

            if (this.$props.deal.hasOwnProperty('PRODUCTS')) {
                products = this.$props.deal.PRODUCTS;
            }

            return products;
        },
        getDocket() {
            let docket = null;

            if (this.$props.deal.hasOwnProperty('CUSTOM_FIELDS')) {
                docket = this.$props.deal[this.$props.deal.CUSTOM_FIELDS.DOCKET];
            }

            return docket;
        }
    },
    props: {
        deal: {
            type: Object,
            required: true,
        },
        modalSelector: {
            type: String,
            required: true,
        }
    },
    mounted() {
        this.modal = new Bootstrap.Modal(`#${this.$props.modalSelector}`);
    }
}
</script>
