<template>
  <div>
    <show-deal-modal :deal="deal"></show-deal-modal>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog h-100">
        <div class="modal-content h-50">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Сканируйте QR</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body h-50" id="qr-scanner">

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {createHtml5Qrcode} from '../../plugins/html5-qrcode';
import {store} from "../../store/vuex";

export default {
  name: "PackerScannerDealModal",
  data() {
    return {
      scanner: null,
      modal: null,
      showModal: null,
      deal: {},
    }
  },
  methods: {
    async render() {
      this.scanner.render(this.successCallback);
    },
    async successCallback(decodedText, result) {
      this.scanner.pause();

      let id = Number(result.decodedText);
      if (!id) {
        return;
      }

      try {
        await store.dispatch('fetchScannerPackerDeal', id);
        this.modal._hideModal();

        this.deal = store.getters.getScannerPackerDeal;
        this.showModal._showElement();
      } catch (e) {
        console.error(e);
      }
    }
  },
  props: {
    showDealModalSelector: {
      type: String,
      required: true,
    }
  },
  mounted() {
    this.modal = new Bootstrap.Modal('#exampleModal');
    this.showModal = new Bootstrap.Modal(this.$props.showDealModalSelector);

    this.scanner = createHtml5Qrcode('qr-scanner');
    this.render();
  }
}
</script>

<style scoped>

</style>