<template>
    <div>
        <div class="modal fade" :id="selector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog h-100">
                <div class="modal-content h-50">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            {{ title ?? 'Сканируйте QR' }}
                        </h1>
                        <button
                            @click="hide"
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body h-50">
                        <div :id="$props.scannerSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <slot name="show-modal-element"></slot>
            </div>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li v-if="!cameras.length">
                    <a class="dropdown-item" href="#">Нет доступных камер</a>
                </li>
                <li v-for="(camera, i) in cameras" :key="i">
                    <a class="dropdown-item" @click="toggleSelectCamera(camera)" href="#">{{ camera.label }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {createHtml5Qrcode, Html5Qrcode, config} from '../../plugins/html5-qrcode';

export default {
    name: "QrScannerModal",
    data() {
        return {
            cameras: [],
            selectCamera: null,
            scanner: null,
            modal: null,
        }
    },
    methods: {
        async toggleSelectCamera(camera) {
            this.selectCamera = camera;
            this.show();
            await this.start();
        },
        successCallback(decodedText, result) {
            this.stopScanner();
            this.$emit('decode', decodedText);
        },
        async start() {
            await this.scanner.start(
                this.selectCamera.id,
                config,
                this.successCallback
            );
        },
        show() {
            this.modal._showElement();
        },
        stopScanner() {
            if (this.scanner.getState() === 2) {
                this.scanner.stop().catch((err) => console.error(err));
            }
        },
        hide() {
            this.stopScanner();
            this.$emit('modalClose', true);
            this.modal._hideModal();
        }
    },
    props: {
        selector: {
            type: String,
            required: true,
        },
        scannerSelector: {
            type: String,
            required: true,
        },
        title: {
            type: String,
            required: false,
        }
    },
    async mounted() {
        this.cameras = await Html5Qrcode.getCameras();
        this.modal = new Bootstrap.Modal(`#${this.$props.selector}`);
        this.scanner = createHtml5Qrcode(this.$props.scannerSelector);
    }
}
</script>
