<template>
    <div class="modal fade" :id="modalSelector" tabindex="-1" aria-labelledby="show-deal-modal" aria-hidden="true">
        <div class="modal-dialog h-100">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ deal.ID}} | {{ deal.TITLE }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="show-deal-modal"
                            aria-label="Close" @click="modal._hideModal()"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Ответственный:
                        <span>
                          {{ (deal.ASSIGNED[0].NAME || '') + ' ' + (deal.ASSIGNED[0].LAST_NAME || '') }}
                        </span>
                    </p>

                    <p>Троль: {{ getTrol || 'Не указана' }}</p>
                    <p>Полка: {{ getShefl || 'Не указана' }}</p>

                    <p>Товары:</p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in deal.PRODUCTS" :key="product.ID">
                                <th scope="row">{{ product.ID }}</th>
                                <td>{{ product.PRODUCT_NAME }}</td>
                                <td>{{ product.QUANTITY }}</td>
                                <td>{{ product.PRICE }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>Цена: <span>{{ deal.OPPORTUNITY }}</span></p>

                    <div class="d-flex justify-content-center">
                        <button
                            v-if="!getDocket"
                            @click="toggleStartPacking"
                            class="btn btn-success rounded-0"
                        >
                            Начать упаковку
                        </button>

                        <button
                            v-else
                            @click="toggleCompletePacking"
                            class="btn btn-success rounded-0"
                            :class="{ disabled: getTrol && getShefl }"
                        >
                            Сканировать QR места хранения
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {updateDocketDeal, updateStorage} from "../../services/deal";
import Vue from "vue";

export default {
    name: "ShowDealModal",
    data() {
        return {
            modal: null,
        };
    },
    methods: {
        async toggleStartPacking() {
            await updateDocketDeal(this.$props.deal.ID, {docket: 'этикетка'});

            Vue.$toast.open({
              position: 'bottom-right',
              message: 'Поле этикетка инициализировано',
              type: 'success'
            });

            window.location.reload();
        },
        async toggleCompletePacking() {
            this.$emit('toggleCompletePacking', true);
        }
    },
    computed: {
        getDealProducts() {
            let products = [];

            if (this.$props.deal.hasOwnProperty('PRODUCTS')) {
                products = this.$props.deal.PRODUCTS;
            }

            return products;
        },
        getDocket() {
            let docket = null;

            if (this.$props.deal.hasOwnProperty('CUSTOM_FIELDS')) {
                docket = this.$props.deal[this.$props.deal.CUSTOM_FIELDS.DOCKET];
            }

            return docket;
        },
        getCustomFields() {
          return this.$props?.deal?.CUSTOM_FIELDS;
        },
        getShefl() {
          return this.$props.deal[this.getCustomFields.SHELF];
        },
        getTrol() {
            return this.$props.deal[this.getCustomFields.TROL];
        }
    },
    props: {
        deal: {
            type: Object,
            required: true,
        },
        modalSelector: {
            type: String,
            required: true,
        },
        show: {
            type: Boolean,
            required: true,
        }
    },
    mounted() {
        this.modal = new Bootstrap.Modal(`#${this.$props.modalSelector}`);

        if (this.$props.show) {
            this.modal._showElement();
        }
    }
}
</script>
